body {
  background-color: #EF4657;
  font-family: sans-serif;
}

h1 {
  color: #DE264C;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  color: #DE264C;
  text-align: center;
}

#select-dropdown {
  color: #EEE;
  width: 250px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -125px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.select {
  background-color: #EEE;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #e6e6e6;
  -webkit-transition: top 0.2s, -webkit-transform 0.2s, color 0.2s, background-color 0.2s;
  width: 230px;
  margin: auto;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  margin-left: -115px;
}
.select:hover {
  background-color: #21212a;
  color: #FFFFFFF;
}

.select:last-child {
  border-bottom: none;
}

.default {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 0.3s;
  -webkit-transform: perspective(600px) rotateX(0deg);
  z-index: 1000;
}

.default:active {
  -webkit-transform: perspective(600px) rotateX(45deg);
  -webkit-perspective: 600px;
}
