body {
  background-color: #EF4657;
  font-family: sans-serif;
}

h1 {
  color: $text-color;
  text-transform: uppercase;
  text-align: center;
  margin-bottom:0;
}

h3 {
  margin-top:0;
  color: $text-color;
  text-align: center;
}

#select-dropdown {
	color: $secondary;
	width:250px;
	margin:auto;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-20px;
	margin-left:-125px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
}

.select {
	@include select($secondary, $primary, $hover);
}

.select:last-child {
	border-bottom:none;
}


.default {
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility:hidden;
	-webkit-transform-origin:50% 0%;
	-webkit-transition:transform 0.3s;
	-webkit-transform: perspective( 600px ) rotateX( 0deg );
	z-index:1000;
}
.default:active {
	-webkit-transform: perspective( 600px ) rotateX( 45deg );
	-webkit-perspective:600px;
}